/*
 * Estilo personalizado para el tema Develoop
 * Este contenido no debe tener uso comercial y es una prueba de capacidades
 *
 * Autor: Irwing Naranjo
 *
 * #0 generales
 * #1 header-top
 * #2
 * #3
 * #4
 * #5 sponsors
 * #6 personalizaciones
 *
 */


/* #0 generales */
body{
	font-family: 'Quicksand', sans-serif;
}
.font-dancing-400{
	font-family: 'Dancing Script', cursive;
	font-weight: 400;
}
.font-dancing-700{
	font-family: 'Dancing Script', cursive;
	font-weight: 700;
}


/* #1 header-top */
	.header-top{
		height: 40px;
		line-height: 40px;
		font-size: 11pt;
		font-weight: bold;
		color: #4a4a4a;
	}
		.select-language{
			background: transparent;
			border:none;
		}
			.text-call a{
				color: #084C99;
				text-decoration: none;
			}
				.text-call a:hover{
					color: #053469;
				}
		.links-socials{
			padding: 0;
			text-align: right;
		}
			.links-socials li{
				list-style: none;
				display: inline-block;
				margin: 0 5px;
				font-size: 18pt;
			}
				.links-socials li a{
					color: #98BF54;
				}
					.links-socials li a:hover{
						color: #728f40;
					}
	.nav-roles{
		margin-bottom: 20px;
		border-bottom: 1px solid #f1f1f1;
		padding-bottom: 20px;
	}
		.select-roles{
			background: #004C9A;
			border-radius: 0;
			padding: 10px 10px;
		}

/* #2 nav */
	.navbar{
		margin-bottom: 0;
		margin: 0;
	}
	.nav-secondary{
		background: rgba(255, 255, 255, 0.8);
		z-index: 3;
	}

	.nav-primary .navbar-nav > li,
	.nav-secondary .navbar-nav > li{
		text-transform: uppercase;
		font-size: 1.2rem;
	}
	.nav-secondary .navbar-nav > li{
		text-transform: capitalize;
		font-size: 1.6rem;
	}
		.nav-primary .navbar-nav > li a,
		.nav-secondary .navbar-nav > li a{
			color: #656563;
			font-weight: bold;
			float: left;
			width: 95%;
		}

	.nav-primary .navbar-nav,
	.nav-secondary .navbar-nav {
	    display:table;
	    width:100%;
	    margin: 0;
	}
	.nav-primary .navbar-nav > li,
	.nav-secondary .navbar-nav > li {
	    float:none;
	    display:table-cell;
	    text-align:center;
	}
	.nav-primary .navbar-nav > li:after,
	.nav-secondary .navbar-nav > li:after{
		float: left;
		width: 4%;
	    content: '*';
		margin: 17px 0 0 0;
		padding: 0;
		width: auto;
	}
		.nav-primary .navbar-nav > li:last-child:after,
		.nav-secondary .navbar-nav > li:last-child:after{
		    content: '';
		}
	.navbar-default{
		border:0;
		margin-bottom: 0 !important;
		box-shadow: none !important;
	}

/* #3 banner */
	.banner{
		background: url(../img/bg1.jpg) no-repeat center center ;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		min-height: 400px;
		margin-top: -51px;
	}
		.shadow{
			background: rgba(0,0,0,0.3);
			height:400px;
			width: 100%;
			position: absolute;
			z-index: 1;
		}
		.action{
			padding-top: 120px;
			position: absolute;
			color: #fff;
			z-index: 2;
		}
			.action h2{
				font-size: 52pt;
				margin: 0;
			}
			.action h4{
				font-size: 20pt;
			}
			.action button{
				background: #95e900;
				padding: 5px 30px;
				font-size: 17pt;
				font-weight: bold;
				color: #FFF;
				text-shadow: 0px 0px 1px #6a8e29;
			}
				.action button:hover{
					background: #6ca802;
					color: #FFF;
				}

/* #4 content */
	.content{}
		.description{
			padding: 50px 60px;
		}
			.description p{
				font-size: 2rem;
			}
		.img-circle{
			margin-bottom: -50px;
			z-index: 2;
			position: relative;
		}
			.content-circle{
				margin:0 auto;
				max-width:250px;
			}
			.circle{
				width: 250px;
				height: 250px;
				background: #019BD9;
				border-radius: 50%;
				margin: 0 auto;

				display: table-cell;
				text-align: center;
				font-size:50px;
				vertical-align: middle;
				color: #FFF;
				line-height: 0.7;
			}
		.details img{
			width: 100%;
			margin: 0px 0px 15px 0px;
			z-index: 1;
			position: relative;
		}
		.details-text{
			margin: 0px 0px 15px 0px;
			z-index: 1;
			position: relative;
			background: #F9FBF0;
			padding: 30px 30px 10px 30px;
			font-size: 11pt;
			color: #747474;
		}
		.details-text h3{
			font-size: 24pt;
		}
		.img-larga{
			float: left;
		}
			.img-larga img{
				width: 100%;
			}

/* #5 sponsors */
	.sponsors{
		padding: 0px 0 40px 0;
	}
		.sponsors div.img-content{
			line-height: 80px;
			padding-top: 30px;
		}
		.sponsors img{
			max-width: 100%;
			max-height: 80px;
		}

/* #5 footer */
	.footer{
		color: #FFF;
		padding: 60px 0;
	}
		.footer h3{
			font-size: 13pt;
			border-bottom: 1px solid rgba(255,255,255,0.2);
			padding-bottom: 20px;
			margin-bottom: 10px;
		}
		.footer button{
			background: #96C050;
			border-color: #96C050;
			color: #FFF;
		}
			.footer button:hover{
				background: #627e32;
				border-color: #627e32;
				color: #FFF;
			}
		.footer ul{
			padding-left: 10px;
		}
			.footer li{
				list-style: none;
				padding: 6px 0;
			}
			.footer li:before{
				content: '-';
				margin-right: 5px;
			}
			.footer li a{
				color: #fff;
			}
				.footer li a:hover{
					color: #656563;
				}
		.footer .links-socials{
			margin-top: 10px;
			text-align: left;
		}
			.footer .links-socials li:before{
				content: '';
				margin-right: 0;
			}

/* #6 Reservations */
	.reservations{
		padding: 20px 0 30px 0;
	}
		.reservations h3{
			font-size: 16pt;
			border-bottom: 1px solid rgba(255,255,255,0.2);
			padding-bottom: 20px;
			margin-bottom: 20px;
			color: #FFF;
		}
		.reservations select{
			width: 100% !important;
		}
		.reservations input,
		.reservations select,
		.reservations button{
			width: 100%;
		}
		.reservations .form-group{
			padding: 0 20px;
		}
		.reservations .input-group-addon{
			background:#fff;color:#a8a8a8;
		}
		.reservations button{
			background: #002C5B;
			color: #FFF;
			max-width: 300px;
		}
		.reservations button{
			background: #002C5B;
			color: #FFF;
		}

/* #00 responsive */
@media (max-width: 1200px) {
	.nav-responsive {
		margin-bottom: 10px;
	}
	.banner {
		margin-top: 0;
	}
	.nav-roles{
		text-align: left;
		float: left;
		width: 100%;
		margin-bottom: 0;
	}
}
